@font-face {
    font-family:'Recursive',monospace;
    src: url(RecursiveSansCslSt-SmBdItalic.woff2) format('woff2');
    font-weight:normal;
    font-style:normal;

}

h1, h2 {
    font-family: 'Libre Caslon Text', sans-serif;
}

h1, h2, p {
    text-align: center;
}
